<div class="row">

    <div class="col">
    <h1>Profile</h1>

    <div class="card">
        <div class="card-body">
            <p><b>UserName:</b> {{user.username}}</p>
            <p><b>Email:</b> {{user.email}}</p>
        </div>
    </div>


</div>
</div>